# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
logs/
*.log

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Docker
mysql_data/

#Directory tree file
directory-tree.txt